/* src/App.css */
.App {
  display: flex;
  height: 100vh;
}

.add-group-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #16008b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notes-heading {
  display: flex;
  padding: 16px;
  min-height: 64px;
  border: solid 1px;
}

.notes-container {
  display: flex;
  flex-direction: column;
}

.notes-form {
  display: flex;
  padding: 16px;
  position: relative;
  bottom: 0;
  border: solid 1px;
  z-index: 9999;
}

.notes-item {
  padding: 16px;
  min-height: 24px;
  word-wrap: break-word;
  margin: 8px 0;
  border: solid 1px blue;
}
